
.logo_header {
    color:#000000;
}
.logo {
    color: #2196F3;
}
.hero {
    background-color: #2F303A;
}
.hero_tittle_h1 {
    color: #FFFFFF;
}
.footer {
    background-color: #2F303A;
}
.what_we_are_doing {
    background-color: #F5F5F5;
}
.team {
    background-color: #F5F4FA;
}
.logo_footer {
    color: #FFFFFF;
}
.address {
    color: #FFFFFF;
}
.map {
    color: #FFFFFF;
}
.tel {
    color: #FFFFFF;
}
.mail {
    color: #FFFFFF;
}
